[project]
	description = FUSE bindings for Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Han-Wen Nienhuys (hanwen)
[access "refs/for/refs/*"]
	read = group user/Han-Wen Nienhuys (hanwen)
	push = group user/Han-Wen Nienhuys (hanwen)
	label-Code-Review = -2..+2 group user/Han-Wen Nienhuys (hanwen)
	label-Verified = -1..+1 group user/Han-Wen Nienhuys (hanwen)
	rebase = group user/Han-Wen Nienhuys (hanwen)
	removeReviewer = group user/Han-Wen Nienhuys (hanwen)
	submit = group user/Han-Wen Nienhuys (hanwen)
[access "refs/heads/*"]
	read = group user/Han-Wen Nienhuys (hanwen)
	create = group user/Han-Wen Nienhuys (hanwen)
	push = +force group user/Han-Wen Nienhuys (hanwen)
	pushMerge = group user/Han-Wen Nienhuys (hanwen)
[access "refs/tags/*"]
	push = +force group user/Han-Wen Nienhuys (hanwen)
	create = group user/Han-Wen Nienhuys (hanwen)
	createSignedTag = group user/Han-Wen Nienhuys (hanwen)
	createTag = group user/Han-Wen Nienhuys (hanwen)
	forgeCommitter = group user/Han-Wen Nienhuys (hanwen)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
